#root  {

}

header {
    background-color: grey;
    padding: 10px;
    margin: 0;
}

h1 {
    text-align: center;
}

#sidebar {
    margin: 20px 2px 2px 2px;
    padding: 2px;
    position: relative;
    justify-content: left;
    width: 215px;
    height: 700px;
    background-color: lightgray;
}

#searchbar {
    display: flex;
}

#results {
    display: flex;
    width: auto;
}

#history {
    position: absolute;
    display: block;
}